{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feedback Form</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="body-div">
            <header id="header">
                <img id="img" src="{% static 'images/Logo.png' %}" alt="Logo">
                <h1 class="text-center mb-4">Statue of Equality Feedback Form</h1>
            </header>
            <div id="icon-container">
                <img id="browser-icon" src="{% static 'images/browser-icon.png' %}" alt="Logo">
                <a id="link" href="https://statueofequality.org">Visit Our Website Here</a>
            </div>
            <form class="body-div" method="POST">
                <br>
                <h3 class="text-center">Please fill out this feedback form as you see fit to help us improve our service.</h3>
                <br>
                <div id="form-container">
                        
                    {% csrf_token %}
                    <input type="hidden" name="form_token" value="{{ form_token }}">
                        <div class="feilds">
                            <div class="mb-3">
                                {{ form.name.label }}
                                {{ form.name }}
                            </div>
                            <div class="mb-3">
                                {{ form.city.label }}
                                {{ form.city }}
                            </div>
                        </div>
                        <div class="feilds">
                            <div class="mb-3">
                                {{ form.email.label }}
                                {{ form.email }}
                                {% if form.email.errors %}
                                <div class="text-danger">
                                {{ form.email.errors }}
                                </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.mobile.label }}
                                {{ form.mobile }}
                            </div>
                        </div>
                </div>
                <h3 class="mt-4">Feedback Questions</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sl no</th>
                            <th>Question</th>
                            <th>Strongly Agree</th>
                            <th>Agree</th>
                            <th>Neutral</th>
                            <th>Disagree</th>
                            <th>Strongly Disagree</th>
                        </tr>
                    </thead>
                    <br>
                    <tbody>
                        {% for question, field in feedback_questions.items %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ question }}</td>
                                <td><input type="radio" name="{{ field.name }}" value="strongly_agree" {% if field.value == "strongly_agree" %}checked{% endif %}></td>
                                <td><input type="radio" name="{{ field.name }}" value="agree" {% if field.value == "agree" %}checked{% endif %}></td>
                                <td><input type="radio" name="{{ field.name }}" value="neutral" {% if field.value == "neutral" %}checked{% endif %}></td>
                                <td><input type="radio" name="{{ field.name }}" value="disagree" {% if field.value == "disagree" %}checked{% endif %}></td>
                                <td><input type="radio" name="{{ field.name }}" value="strongly_disagree" {% if field.value == "strongly_disagree" %}checked{% endif %}></td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-danger">{{ field.errors }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <div class="text">
                        <h3>Which areas do you believe require improvement?</h3>
                </div>
                <div class="text">
                        {{ form.improvement_areas }}
                </div>
                <div class="text">
                    <h3>Do You have any suggestions to improve prasadam Quality</h3>
                </div>
                <div class="text">
                    {{ form.quality }}
                </div>
                <div class="text">
                    <h3>How satisfied are you with the overall experience?(Rate out of 10)</h3>
                </div>
                <div class="text">
                    {{ form.rating }}
                </div>
                    <button type="submit" class="btn">Submit Feedback</button>
                    <br>
            </form>
        </div>
    </body>
</html>