{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="body-div">
        <h1 class="text-center mb-4">Thank You!, {{ user_name }}</h1>
        <h1 class="text-center mb-4">Your feedback has been submitted successfully.</h1>
        <div id="social-media">
            <h3>You can Follow us on Social Media</h3>
            <br>
            <a href="https://www.facebook.com/statueofequality" class="icon">
                <img src="{% static 'images/fb.png' %}" alt="Facebook">
            </a>
            <a href="https://twitter.com/StatueEquality" class="icon">
                <img src="{% static 'images/twitter.png' %}" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/statue_of_equality/" class="icon">
                <img src="{% static 'images/insta.png' %}" alt="Instagram">
            </a>
        </div>
        <br>
        <div class="text-center">
            <a href="\">
                <button type="submit" class="btn">Give Another Feedback</button>
            </a>
        </div>
        <br>
    </div>
</body>
</html>
