#header {
    display: flex;
    align-items: center;
    justify-content: center;
}

h4.text-center {
   
    margin: 0 auto;
}

.body-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: burlywood;
    margin: 20px;
    border: solid;
}
#img {
    width: 100px;
    height: 100px;
}

#form-container {
    justify-content: space-around;
   
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.feilds {
    justify-items: end;
}

h1.text-center.mb-4 {
    margin: revert;
}

.mb-3, #id_improvement_areas {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    width: 300px;
    transition: border-color 0.3s ease-in-out;
}

#id_name, #id_city, #id_email, #id_mobile, #id_improvement_areas {
    background-color: burlywood;
    border-radius: inherit;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}