* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: auto;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    min-width: 900px;
    max-width: 100%;
    overflow-x: hidden;
}

#img {
    width: 150px;
    height: 150px;
}

.body-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: burlywood;
    border: solid 1px black;
    border-radius: 50px;
}

#form-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 80%;
}

.mb-3, #id_improvement_areas, #id_rating, #id_quality {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 70px;
    transition: border-color 0.3s ease-in-out;
}

.fields, .feilds {
    width: 48%;
}

#id_name, #id_city, #id_email, #id_mobile, #id_improvement_areas, #id_rating, #id_quality {
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    height: 100px;
    resize: none;
}

#id_name:focus, #id_city:focus, #id_email:focus, #id_mobile:focus, #id_improvement_areas:focus, #id_rating:focus, #id_quality:focus {
    border-color: whitesmoke;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.table-container {
    width: 100%;
    overflow-x: hidden; 
}

.table {
    border-collapse: collapse;
    width: 100%; 
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    margin: 20px 0;
}

.table th, .table td {
    border: 1px solid black;
    padding: 8px;
    border-style: dashed;
    word-wrap: break-word; 
}

input[type="radio"] {
    appearance: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 5px;
}

input[type="radio"]:checked {
    background-color: black;
}

input[type="radio"]:hover {
    outline: 2px solid black;
}

.btn {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 9px 10px 1px rgba(0, 0, 0, 0.4);
    transition: all 0.1s ease-in-out;
    height: 60px;
    width: -webkit-fill-available;
    font: caption;
    font-size: 25px;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#icon-container {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin: 10px 0;
}

#browser-icon {
    width: 25px;
    height: 25px;
}

#social-media {
    text-align: center;
    margin: 10px 0;
}

#social-media .icon img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.2s ease;
}

#social-media .icon img:hover {
    transform: scale(1,1.3);
}

.text-danger {
    color: red;
    font-size: 0.8em;
}